<html>
    <head>
        <style>
            table{
                background-color: black;
                color: red;
            }
        </style>
    </head>

<body>
    <form action="/addproducts" method="post">
        <table>
            <tr>
                <td>Product id :</td>
                <td><input type="text" id="pid" name="pid"></td>
            </tr>
            <tr>
                <td> Product name :</td>
                <td> <input type="text" id="pname" name="pname"></td>
            </tr>
            <tr>
                <td>Product Price :</td>
                <td><input type="text" id="price" name="price"></td>
            </tr>

        </table>
        <button type="submit" id="btn" name="btn" value="btn">Add more</button>

    </form>
</body>

</html>